* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

/* navbar */
.navbar {
    display: flex;
    padding: 10px;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: white;
}

.navbar__user,
.navbar__menu {
    display: none;
}

.logo_left {
    width: 180px;
}
.logo_left img{
    width: 70px;
    height: 40px;
}

.logo_left:hover {
    cursor: pointer;
}

.menu_center {
    display: flex;
    gap: 50px;
    border-radius: 30px;
}

.menu_center p {
    border-radius: 30px;
    padding: 8px 10px;
    cursor: pointer;
}

.menu_center p:hover {
    border-radius: 30px;
    padding: 8px 10px;
    background-color: lightgray;
}

.language-and-signin {
    display: flex;
    gap: 20px;
    align-items: center;
}

.language {
    display: flex;
    border-radius: 30px;
    padding: 8px 10px;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.language:hover {
    border-radius: 30px;
    padding: 8px 10px;
    background-color: lightgray;
}

.signin button {
    border-radius: 30px;
    background-color: #01290d;
    padding: 8px 10px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}

/* Header  */
.header {
    text-align: center;
}

.header__title {
    margin-top: 40px;
    font-size: x-large;
}

.header__title h1 {
    font-size: 50px;
    font-weight: 700;
}

.header__menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    font-size: medium;
    cursor: pointer;


}

.header__menu p {
    border: none;
    border-bottom: px white solid;

}

.header__menu p:hover {
    border-bottom: 2px gray solid;
}

.header__search {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.header__search-search {
    border-radius: 50px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px;
    gap: 10px;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header__search-search input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: larger;
}

.header__search-button button {
    padding: 10px 15px;
    background-color: #00f700;
    color: white;
    border-radius: 30px;
    font-size: large;
    border: none;
}

.header__search-button button,
.header__search-search i:hover {
    cursor: pointer;
}

/* content 1  */

.content-box1 {
    display: flex;
    margin: 0 auto;
    width: 70%;
    background-color:#00f700;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;

}

.content-box1__image {
    width: 100%;
    border-radius: 10px;
}

.vetrical-line {
    width: 2px;
    height: 500px;
    background-color: black;
    margin-left: 20px;
}

.content-box2 {
    text-align: center;
    padding-left: 40px;
}

.content-box2__title {
    font-size: 40px;
    font-weight: 900;
    margin-top: 65px;
    width: 400px;
}

.content-box2__desc {
    margin-top: 50px;
    font-size: large;
    font-weight: 500;
}

.content-box2__button {
    padding: 10px 16px;
    border-radius: 30px;
    font-size: large;
    border: none;
    background-color:#006401;
    color: white;
    font-weight: 500;
    margin-top: 50px;
    cursor: pointer;
}

.content-box2__button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/*Content 2*/

.interest__title {
    margin-left: 190px;
    margin-top: 20px;
}

.interest__desc {
    margin-left: 190px;
    margin-top: 10px;
}

.interest__cardbox1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.interest__cardbox1__img {
    width: 325px;
    height: 280px;
    margin-right: 1px;
    border-radius: 10px;
}

.interest__cardbox1__img:hover {
    opacity: 0.7;
    cursor: pointer;
}


/* content 3 , content 4*/
.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.interest-section2 {
    width: 310px;
}

.interest-section2 p,
h4 {
    margin-top: 8px;
}

.container-img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-right: 15px;
    margin-top: 15px;
}

.container-img:hover {
    opacity: 0.9;
    cursor: pointer;
}

.interest-section1__title {
    margin-left: 190px;
    margin-top: 20px;
}

.interest-section1__desc {
    margin-left: 190px;
    margin-top: 10px;
}

/* Best cities to visit in tamil nadu */
.best-cities {
    margin-left: 185px;
    margin-top: 20px;
}

.best-cities__container {
    display: flex;
    justify-content: center;
    gap: 17px;
    flex-wrap: wrap;
    margin-right: 160px;
}

.best-cities__container__s1 {
    width: 325px;
    height: 280px;
    border-radius: 10px;
}

.best-cities__container__s1__img {

    width: 302px;
    height: 250px;
    border-radius: 10px;
    margin-top: 15px;
}

.best-cities__container__s1__img:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Iconic places you need to see  */
.iconic-places {
    margin-left: 180px;
    margin-top: 40px;
}

.iconic-places__container__s1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.iconic-places__container__s1__img {
    width: 325px;
    height: 300px;
    border-radius: 10px;
}

.iconic-places__container__s1__img:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* our sponsors  */
.sponsors {
    margin-left: 180px;
    margin-top: 40px;
    background-color: #f5f5f5;
    width: 79%;
    border-radius: 15px;
}

.sponsors__container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
}

.sponsors__container__s1 {
    width: 280px;
    height: 410px;
    background-color: #dde7de;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.sponsors__container__s1__img {
    width: 252px;
    height: 156px;
    border-radius: 15px;
}

.sponsors__container__s1__title {
    margin-top: 10px;
    width: 100%;
}

.sponsors__container__s1__desc {
    margin-top: 10px;
    width: 100%;
    font-size: large;

}

.sponsors__container__s1__button {
    margin-top: 50px;
    margin-left: 90px;
    border: 1px green solid;
    background-color:#86a86a;
    padding: 9px 16px;
    border-radius: 30px;
    font-size: medium;
}

.sponsors__container__s1__button:hover {
    cursor: pointer;
}

/* awards */
.award {
    background-color: #006401;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    flex-wrap: wrap;
    display: flex;
    text-align: left;

}

.award__s1 {
    width: 50%;
    margin-left: 80px;
    padding-top: 100px;
}

.award__s1__title {
    color: white;
    font-size: 40px;
    margin-top: 30px;
}

.award__s1__desc {
    color: white;
    font-size: larger;
    margin-top: 20px;
}

.award__s1__button {
    padding: 12px 16px;
    margin-top: 35px;
    font-size: large;
    font-weight: 700;
    color: #01290d;
    border-radius: 30px;
    border: 1px green solid;
}

.award__s1__button:hover {
    cursor: pointer;
}

.award__s2 {
    width: 40%;
    margin-top: 100px;
}

.award__s2__img {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    margin-left: 15px;
}

/* Browse themed collections */
.themcollections {
    margin-left: 185px;
    margin-top: 40px;
}

.themcollections__tittle {
    margin-top: 10px;
}

.themcollections__container {
    display: flex;
    justify-content: center;
    gap: 17px;
    flex-wrap: wrap;
    margin-right: 160px;

}

.themcollections__container__s1 {
    width: 320px;
    height: 280px;
    border-radius: 10px;
}

.themcollections__container__s1__img {
    width: 320px;
    height: 300px;
    border-radius: 10px;
    margin-top: 15px;
}

.themcollections__container__s1__img:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* footer */

.footer {
    margin-top: 100px;
    background-color: #f7f7f7;
    padding: 10px;
}

.footer__one {
    display: flex;
    margin-left: 100px;
    padding-top: 90px;
    gap: 45px;
}

.footer__one__s1 p,
.footer__one__s2 p,
.footer__one__s3 p,
.footer__one__s4 p {
    margin-top: 16px;
}

.footer__two__s1 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 90px;
    margin-top: 40px;
}

.footer__two__s1__img {
    width: 50px;
    height: 50px;
}

.footer__two__s1__button {
    border: 1px #01290d solid;
   
    padding: 9px 16px;
    border-radius: 30px;
    font-size: medium;
}

.footer__two__s1__button:hover {
    cursor: pointer;
}

.footer__three {
    display: flex;
    width: 90%;
    gap: 5px;
    margin-left: 100px;
}

.footer__three i:hover {
    cursor: pointer;
}

.footer__four {
    margin-left: 100px;
    margin-top: 15px;
}

/* Media Queries */
@media screen and (max-width:600px) {


    body {
        font-size: 10px;
    }

    /* navbar */
    .navbar {
        text-align: center;
    }

    .navbar__menu,
    .navbar__user {
        display: block;
        font-size: x-large;
    }

    .logo_left img {
        width: 30%px;
    }

    .menu_center,
    .language-and-signin {
        display: none;
    }

    /* Header  */
    .header__title {
        display: none;
    }

    .header__menu {
        gap: 10px;
        font-size: 10px;
        margin-top: 3%;
    }

    .header__search-search {
        width: 70%;
    }

    /* content 1 */
    .content-box1 {
        width: 75%;
        margin-top: 40px;
        display: block;
    }

    .vetrical-line {
        display: none;
    }

    .content-box2 {
        padding-left: 20px;
    }

    .content-box2__title {
        margin-top: 20px;
        font-size: 12px;
        width: 90%;
    }

    .content-box2__desc {
        font-size: 11px;
    }

    .content-box2__button {
        margin-right: 3%;
    }

    /* content 2  */
    .interest__title {
        margin-left: 3%;
        margin-top: 5%;
    }

    .interest__desc {
        margin-left: 3%;
        margin-top: 5%;
        font-size: 11px;
    }

    .interest__cardbox1__img {
        width: 46%;
        height: 100%;
    }
/* content 3,4 */
    
    .interest-section1__title {
        margin-left: 2%;
        margin-top: 13%;
    }

    .interest-section1__desc {
        margin-left: 3%;
        margin-top: 2%;
        font-size: 11px;
    }

    .interest-section2 {
        width: 45%;
    }

    .container-img {
        width: 100%;
        height: 80%;
    }

    /* Best cities to visit in tamil nadu */
    .best-cities {
        margin-left: 1%;
        margin-top: 16%;
    }

    .best-cities__container {
        justify-content: left;
        width: 100%;
    }

    .best-cities__container__s1 {
        width: 47%;
    }

    .best-cities__container__s1__img {
        width: 100%;
        height: 70%;
    }

    /* Iconic places you need to see */
    .iconic-places {
        margin-left: 3%;
        margin-top: 5%;
    }

    .iconic-places__container__s1__img {
        width: 47%;
        height: 85%;
    }
/* sponsors */
    .sponsors {
        margin-left: 0%;
        margin-top: 5%;
        width: 100%;
        padding: 0;
    }

    .sponsors__container__s1 {
        width: 39%;
        
    }

    .sponsors__container__s1__img {
        width: 100%;
    }

    .sponsors__container__s1__title {
        font-size: 10px;
    }

    .sponsors__container__s1__desc {
        font-size: 10px;
    }
    .sponsors__container__s1__button{
       padding: 5px 17px;
        font-size: 10px;
        margin-top: 65%;
        margin-right: 20%;
    }

    /* awards  */
    .award__s1 {
        width: 100%;
        margin-left: 3%;
    }

    .award__s1__button {
        padding: 12px 10px;
        font-weight: 900;
    }

    .award__s2 {
        display: none;
    }

    /* Browse themed collections */
    .themcollections {
        margin-left: 3%;
        margin-top: 10%;
    }

    .themcollections__container {
        justify-content: left;
        width: 100%;
    }

    .themcollections__container__s1 {
        width: 47%;

    }

    .themcollections__container__s1__img {
        width: 100%;
        height: 90%;
    }

    /* footer */
    .footer__one {
        margin-left: 3%;
    }

    .footer__four {
        margin-left: 3%;
    }

    .footer__three {
        margin-left: 3%;
    }

    .footer__two__s1 {
        margin-left: 3%;
    }

    .footer__two__s1__button {
        padding: 6px 15px;
        border-radius: 30px;
        font-size: 10px;
        width: 26%;
    }
}